resources/sponge.png
resources/major.mp3
resources/dung.png
resources/Kalimba.ogg
resources/movie.ogv
resources/sponge_list.png
resources/human (1).png
resources/shaving.png
resources/knife.png
resources/징징이.webp
resources/crystal-ball.png
resources/징징이.png
resources/coke.png
resources/popcorn.png
resources/gul.png
resources/jquery-3.7.1.js
resources/bootstrap.min.css
resources/bootstrap.min.js